<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.paluno.mse.palaver">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="de.uni_due.paluno.se.palaver.permission.C2D_MESSAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.SEND"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activitymanager.SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activitymanager.Login"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activitymanager.Signup"
            android:label="@string/title_activity_signup"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activitymanager.MainMenu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activitymanager.AddFriends"
            android:label="@string/title_activity_addfriends"
            android:parentActivityName=".activitymanager.MainMenu"/>
        <activity
            android:name=".activitymanager.Conversation"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".activitymanager.MainMenu">
        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

                <category android:name="de.uni_due.paluno.se.palaver"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.PalaverGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
        <service
            android:name=".gcm.PalaverInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <service
            android:name=".gcm.TokenService"
            android:exported="false"/>

    </application>

</manifest>